@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


.hero_text {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.caption_text {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.currency_tab {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; 
}