:root {
    --background: rgb(42, 10, 74);
    --background-tint: rgb(138, 120, 156);
    --red: rgb(253, 75, 36);
    --white: rgb(255, 255, 255)
}

.b-purple-bg {background-color: var(--background);}
.b-purple-text {color: var(--background);}

.b-purple-tint-bg {background-color: var(--background-tint);}
.b-purple-tint-text {color: var(--background-tint);}

.b-red-bg {background-color: var(--red);}
.b-red-text {color: var(--red);}

.b-white-bg {background-color: var(--white);}
.b-white-text {color: var(--white);}
